/sim_agent
/wedge_agent
/build
/external
/external.install
/fboss-build
.*.swp
arista/util/DSF*
*__pycache__*
arista/build-utils/tmp_build_dir/
gen-py/
arista/util/live-image/build_dir/
arista/util/suite-report-tracker/fboss-suite-reports
tmp/
arista/**/*.o
arista/psu-upgrade/psu-upgrade
fboss.bsp.arista/**/*.cmd
fboss.bsp.arista/**/*.o
fboss.bsp.arista/**/*.ko
fboss.bsp.arista/**/*.mod
fboss.bsp.arista/**/*.mod.c
fboss.bsp.arista/**/*.order
fboss.bsp.arista/**/*.symvers
fboss.bsp.arista/showtech/platform-showtech

# Ignore config-gen test coverage files
.coverage.*