[Unit]
Description=Start qsfp_service

[Service]
ExecStart=/opt/fboss/bin/run_qsfp_service.sh
LimitNOFILE=10240

[Install]
WantedBy=multi-user.target
