[Unit]
Description=Start sensor_service
After=data_corral_service.service
Wants=data_corral_service.service

[Service]
ExecStart=/opt/fboss/bin/sensor_service -config_path /opt/fboss/share/sensor_service/platform_sensors.conf

[Install]
WantedBy=multi-user.target
