# Initial udev rules for MERU SCM board 8/15/2023.

SUBSYSTEM=="pci", KERNEL=="0000:07:00.0", ATTR{device}=="0x0001", ATTR{subsystem_vendor}=="0x3475", ATTR{subsystem_device}=="0x0008", RUN{builtin}+="kmod load scd", RUN+="/bin/sh -c 'echo \"3475 0001\" > /sys/bus/pci/drivers/scd/new_id'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH7"
SUBSYSTEM=="pci", KERNEL=="0000:07:00.0", ATTR{vendor}=="0x3475", RUN+="/bin/mkdir -p /run/devmap/fpgas", RUN+="/bin/ln -sf %S%p /run/devmap/fpgas/MERU_SCM_CPLD"
SUBSYSTEM=="i2c", ATTRS{name}=="SCD 0000:07:00.0 SMBus master 0 bus 1", KERNEL=="*-0050", RUN+="/bin/mkdir -p /run/devmap/eeproms", RUN+="/bin/ln -sf %S%p/eeprom /run/devmap/eeproms/MERU_SCM_EEPROM"
SUBSYSTEM=="hwmon", ATTR{name}=="coretemp", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_CORE_TEMP"
SUBSYSTEM=="hwmon", ATTR{name}=="nvme", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_NVME_TEMP"
SUBSYSTEM=="hwmon", ATTR{name}=="pmbus", DEVPATH=="*/0000:07:00.0/scd-smbus.0/i2c-*/*-0040/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_MPS_PMBUS"
SUBSYSTEM=="hwmon", ATTR{name}=="pxe1610", DEVPATH=="*/0000:07:00.0/scd-smbus.0/i2c-*/*-0030/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_PXM1310_1"
SUBSYSTEM=="hwmon", ATTR{name}=="pxe1610", DEVPATH=="*/0000:07:00.0/scd-smbus.0/i2c-*/*-003e/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_PXE1211"
SUBSYSTEM=="hwmon", ATTR{name}=="pxm1310", DEVPATH=="*/0000:07:00.0/scd-smbus.0/i2c-*/*-0040/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_PXM1310_2"
SUBSYSTEM=="pci", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/fpgas/ -xtype l -delete'"
SUBSYSTEM=="i2c", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/i2c-busses/ -xtype l -delete'", RUN+="/bin/sh -c 'find /run/devmap/eeproms/ -xtype l -delete'"
SUBSYSTEM=="hwmon", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/sensors/ -xtype l -delete'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 0", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0040 || echo pmbus 0x40 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 1", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0050 || echo 24c512 0x50 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 2", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0030 || echo pxe1610 0x30 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-003e || echo pxe1610 0x3e > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0040 || echo pxm1310 0x40 > /sys/bus/i2c/devices/i2c-%n/new_device'"
