# udev rules for MERU800BIA 8/22/2023.

# MERU_SCM_CPLD
SUBSYSTEM=="pci", KERNEL=="0000:07:00.0", ATTR{device}=="0x0001", ATTR{subsystem_vendor}=="0x3475", ATTR{subsystem_device}=="0x0008", RUN{builtin}+="kmod load scd"
SUBSYSTEM=="pci", KERNEL=="0000:07:00.0", ATTR{vendor}=="0x3475", RUN+="/bin/mkdir -p /run/devmap/fpgas", RUN+="/bin/ln -sf %S%p /run/devmap/fpgas/MERU_SCM_CPLD"

# MERU_SCM_CPLD I2C BUS
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS0_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS0_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS0_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS0_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS0_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS0_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS0_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS0_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS1_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS1_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS1_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS1_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS1_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS1_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS1_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU_SCM_CPLD_SMBUS1_CH7"

# SCM EEPROM
SUBSYSTEM=="i2c", ATTRS{name}=="SCD 0000:07:00.0 SMBus master 0 bus 1", KERNEL=="*-0050", RUN+="/bin/mkdir -p /run/devmap/eeproms", RUN+="/bin/ln -sf %S%p/eeprom /run/devmap/eeproms/MERU_SCM_EEPROM"

# SCM I2C SENSORS
SUBSYSTEM=="hwmon", ATTR{name}=="coretemp", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_CORE_TEMP"
SUBSYSTEM=="hwmon", ATTR{name}=="nvme", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_NVME_TEMP"
SUBSYSTEM=="hwmon", ATTR{name}=="pmbus", DEVPATH=="*/0000:07:00.0/scm-smbus.0/i2c-*/*-0040/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_MPS_PMBUS"
SUBSYSTEM=="hwmon", ATTR{name}=="pxm1310", DEVPATH=="*/0000:07:00.0/scm-smbus.0/i2c-*/*-0030/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_PXM1310_1"
SUBSYSTEM=="hwmon", ATTR{name}=="pxe1610", DEVPATH=="*/0000:07:00.0/scm-smbus.0/i2c-*/*-003e/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_PXE1211"
SUBSYSTEM=="hwmon", ATTR{name}=="pxm1310", DEVPATH=="*/0000:07:00.0/scm-smbus.0/i2c-*/*-0040/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_PXM1310_2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 0", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0040 || echo pmbus 0x40 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 1", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0050 || echo 24c512 0x50 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 0 bus 2", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0030 || echo pxm1310 0x30 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-003e || echo pxe1610 0x3e > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0040 || echo pxm1310 0x40 > /sys/bus/i2c/devices/i2c-%n/new_device'"

# MERU800BIA_SMB_FPGA
SUBSYSTEM=="pci", KERNEL=="0000:01:00.0", ATTR{device}=="0x0001", ATTR{subsystem_vendor}=="0x3475", ATTR{subsystem_device}=="0x0001", RUN{builtin}+="kmod load scd"
SUBSYSTEM=="pci", KERNEL=="0000:01:00.0", ATTR{vendor}=="0x3475", RUN+="/bin/mkdir -p /run/devmap/fpgas", RUN+="/bin/ln -sf %S%p /run/devmap/fpgas/MERU800BIA_SMB_FPGA"

# MERU800BIA_SMB_FPGA I2C BUS
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS0_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS0_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS0_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS0_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS0_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS0_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS0_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS0_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 1 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS1_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 1 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS1_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 1 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS1_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 1 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS1_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 1 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS1_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 1 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS1_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 1 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS1_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 1 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS1_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 2 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS2_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 2 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS2_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 2 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS2_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 2 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS2_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 2 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS2_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 2 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS2_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 2 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS2_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 2 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS2_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 3 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS3_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 3 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS3_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 3 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS3_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 3 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS3_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 3 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS3_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 3 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS3_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 3 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS3_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 3 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS3_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 4 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS4_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 4 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS4_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 4 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS4_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 4 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS4_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 4 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS4_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 4 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS4_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 4 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS4_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 4 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS4_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 5 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS5_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 5 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS5_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 5 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS5_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 5 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS5_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 5 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS5_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 5 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS5_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 5 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS5_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 5 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/MERU800BIA_SMB_FPGA_SMBUS5_CH7"

# SMB EEPROM
SUBSYSTEM=="i2c", ATTRS{name}=="SCD 0000:07:00.0 SMBus master 1 bus 0", KERNEL=="*-0050", RUN+="/bin/mkdir -p /run/devmap/eeproms", RUN+="/bin/ln -sf %S%p/eeprom /run/devmap/eeproms/MERU800BIA_SMB_EEPROM"

# SMB GPIO EXPANDER
SUBSYSTEM=="gpio", DEVPATH=="*/0000:07:00.0/scm-smbus.1/i2c-*/*-0074/gpiochip*", RUN+="/bin/mkdir -p /run/devmap/gpiochips", RUN+="/bin/ln -sf /dev/gpiochip%n /run/devmap/gpiochips/MERU800BIA_PLS"

# SMB I2C SENSORS
SUBSYSTEM=="hwmon", ATTR{name}=="tmp75", DEVPATH=="*/0000:07:00.0/scm-smbus.1/i2c-*/*-0049/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/SMB_TMP75_FRONT"
SUBSYSTEM=="hwmon", ATTR{name}=="tmp75", DEVPATH=="*/0000:07:00.0/scm-smbus.1/i2c-*/*-004a/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/SMB_TMP75_REAR"
SUBSYSTEM=="hwmon", ATTR{name}=="raa228228", DEVPATH=="*/0000:01:00.0/smb-smbus.0/i2c-*/*-0045/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/SMB_RAA288926_J3"
SUBSYSTEM=="hwmon", ATTR{name}=="isl68226", DEVPATH=="*/0000:01:00.0/smb-smbus.0/i2c-*/*-0054/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/SMB_ISL68226_J3"
SUBSYSTEM=="hwmon", ATTR{name}=="isl68226", DEVPATH=="*/0000:01:00.0/smb-smbus.0/i2c-*/*-0055/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/SMB_ISL68226_OPTICS"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 0", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0050 || echo 24c512 0x50 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0074 || echo pca9539 0x74 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 2", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0049 || echo tmp75 0x49 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-004a || echo tmp75 0x4a > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 0", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0045 || echo raa228228 0x45 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0054 || echo isl68226 0x54 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0055 || echo isl68226 0x55 > /sys/bus/i2c/devices/i2c-%n/new_device'"

# SMB WATCHDOG
SUBSYSTEM=="watchdog", ACTION=="add", DEVPATH=="/devices/pci0000:00/*/0000:01:00.0/scd-watchdog*", SYMLINK+="watchdog-meru800bia", MODE="0600"
SUBSYSTEM=="watchdog", ACTION=="add", DEVPATH=="/devices/pci0000:00/*/0000:01:00.0/scd-watchdog*", RUN+="/bin/mkdir -p /run/devmap/watchdogs", RUN+="/bin/ln -sf /dev/watchdog%n /run/devmap/watchdogs/FBOSS_WDT"

# FAN_CPLD
SUBSYSTEM=="i2c", ATTR{name}=="pali2_cpld", RUN+="/bin/mkdir -p /run/devmap/cplds", RUN+="/bin/ln -sf %S/%p /run/devmap/cplds/FAN_CPLD"

# FAN I2C SENSORS
SUBSYSTEM=="hwmon", ATTR{name}=="tmp75", DEVPATH=="*/0000:07:00.0/scm-smbus.1/i2c-*/*-0048/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/FAN_TMP75"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 3", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0048 || echo tmp75 0x48 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0060 || echo pali2_cpld 0x60 > /sys/bus/i2c/devices/i2c-%n/new_device'"

# PSU SENSORS
SUBSYSTEM=="hwmon", SUBSYSTEMS=="i2c", ATTR{name}=="pmbus", ATTRS{name}=="SCD 0000:01:00.0 SMBus master 0 bus 5", DEVPATH=="*/0000:01:00.0/smb-smbus.0/i2c-*/*-0058/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/PSU1_PMBUS"
SUBSYSTEM=="hwmon", SUBSYSTEMS=="i2c", ATTR{name}=="pmbus", ATTRS{name}=="SCD 0000:01:00.0 SMBus master 0 bus 6", DEVPATH=="*/0000:01:00.0/smb-smbus.0/i2c-*/*-0058/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/PSU2_PMBUS"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 5", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0058 || echo pmbus 0x58 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:01:00.0 SMBus master 0 bus 6", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0058 || echo pmbus 0x58 > /sys/bus/i2c/devices/i2c-%n/new_device'"

# Cleanup
SUBSYSTEM=="pci", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/fpgas/ -xtype l -delete'"
SUBSYSTEM=="i2c", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/i2c-busses/ -xtype l -delete'", RUN+="/bin/sh -c 'find /run/devmap/eeproms/ -xtype l -delete'", RUN+="/bin/sh -c 'find /run/devmap/cplds/ -xtype l -delete'"
SUBSYSTEM=="hwmon", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/sensors/ -xtype l -delete'"
SUBSYSTEM=="gpio", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/gpiochips/ -xtype l -delete'"
SUBSYSTEM=="watchdog", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/watchdogs/ -xtype l -delete'"
