SUBSYSTEM=="pci", KERNEL=="0000:00:1a.3", ATTR{device}=="0x001a", ATTR{subsystem_vendor}=="0x8086", ATTR{subsystem_device}=="0x0000", RUN{builtin}+="kmod load scd", RUN+="/bin/sh -c 'echo \"8086 18d9\" > /sys/bus/pci/drivers/scd/new_id'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 0 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 0 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 0 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 0 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 0 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 0 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 0 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 0 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS0_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 1 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 1 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 1 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 1 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 1 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 1 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 1 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:00:1a.3 SMBus master 1 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/CPU_CPLD_SMBUS1_CH7"
