SUBSYSTEM=="pci", KERNEL=="0000:07:00.0", ATTR{device}=="0x0001", ATTR{subsystem_vendor}=="0x3475", ATTR{subsystem_device}=="0x0001", RUN{builtin}+="kmod load scd", RUN+="/bin/sh -c 'echo \"3475 0001\" > /sys/bus/pci/drivers/scd/new_id'"
SUBSYSTEM=="module", ACTION=="add", KERNEL=="scd", RUN+="/bin/sh -c 'echo \"8086 6f76\" > /sys/bus/pci/drivers/scd/new_id'"
SUBSYSTEM=="watchdog", ACTION=="add", DEVPATH=="/devices/pci0000:00/*/0000:07:00.0/scd-watchdog*", SYMLINK+="watchdog-darwin", MODE="0600"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 0 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS0_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 0 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS0_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 0 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS0_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 0 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS0_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 2 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS2_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 2 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS2_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 2 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS2_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 2 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS2_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 3 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS3_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 3 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS3_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 3 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS3_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 3 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/ROOK_SMBUS3_CH3"
SUBSYSTEM=="pci", KERNEL=="0000:07:00.0", ATTR{vendor}=="0x3475", RUN+="/bin/mkdir -p /run/devmap/fpgas", RUN+="/bin/ln -sf %S%p /run/devmap/fpgas/SCD_FPGA"
SUBSYSTEM=="pci", KERNEL=="0000:ff:0b.3", RUN+="/bin/mkdir -p /run/devmap/cplds", RUN+="/bin/ln -sf %S%p /run/devmap/cplds/ROOK_CPU_CPLD"
SUBSYSTEM=="watchdog", ACTION=="add", DEVPATH=="/devices/pci0000:00/*/0000:07:00.0/scd-watchdog*", RUN+="/bin/mkdir -p /run/devmap/watchdogs", RUN+="/bin/ln -sf /dev/watchdog%n /run/devmap/watchdogs/FBOSS_WDT"
SUBSYSTEM=="i2c", ATTR{name}=="blackhawk_cpld", RUN+="/bin/mkdir -p /run/devmap/cplds", RUN+="/bin/ln -sf %S%p /run/devmap/cplds/BLACKHAWK_CPLD"
SUBSYSTEM=="i2c", ATTR{name}=="tehama_cpld", RUN+="/bin/mkdir -p /run/devmap/cplds", RUN+="/bin/ln -sf %S%p /run/devmap/cplds/FAN_CPLD"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 3",DEVPATH=="*/0000:07:00.0/scd-smbus.1/i2c-*/*-0050/*", RUN+="/bin/mkdir -p /run/devmap/eeproms", RUN+="/bin/ln -sf %S%p /run/devmap/eeproms/PEM_EEPROM"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 4", DEVPATH=="*/0000:07:00.0/scd-smbus.1/i2c-*/*-0050/*", RUN+="/bin/mkdir -p /run/devmap/eeproms", RUN+="/bin/ln -sf %S%p /run/devmap/eeproms/FANSPINNER_EEPROM"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 4", DEVPATH=="*/0000:07:00.0/scd-smbus.1/i2c-*/*-0052/*", RUN+="/bin/mkdir -p /run/devmap/eeproms", RUN+="/bin/ln -sf %S%p /run/devmap/eeproms/RACKMON_EEPROM"
SUBSYSTEM=="hwmon", ATTR{name}=="pch_haswell", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/PCH_THERMAL"
SUBSYSTEM=="hwmon", ATTR{name}=="coretemp", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_CORE_TEMP"
SUBSYSTEM=="hwmon", ATTR{name}=="max6658", DEVPATH=="*/0000:ff:0b.3/rook-smbus.0/i2c-*/*-004c/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_BOARD_TEMP_MAX6658"
SUBSYSTEM=="hwmon", ATTR{name}=="ucd90160", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_POS_UCD90160"
SUBSYSTEM=="hwmon", ATTR{name}=="pmbus", DEVPATH=="*/0000:ff:0b.3/rook-smbus.0/i2c-*/*-0021/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_MPS1_PMBUS"
SUBSYSTEM=="hwmon", ATTR{name}=="pmbus", DEVPATH=="*/0000:ff:0b.3/rook-smbus.0/i2c-*/*-0027/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_MPS2_PMBUS"
SUBSYSTEM=="hwmon", ATTR{name}=="lm73", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/CPU_FP_TEMP_LM73"
SUBSYSTEM=="hwmon", ATTR{name}=="tehama_cpld", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/FAN_CPLD"
SUBSYSTEM=="hwmon", ATTR{name}=="ucd90320", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/SC_POS_UCD90320"
SUBSYSTEM=="hwmon", ATTR{name}=="max6581", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/SC_BOARD_TEMP_MAX6581"
SUBSYSTEM=="hwmon", ATTR{name}=="amax5970", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/PEM_ECB_MAX5970"
SUBSYSTEM=="iio", ATTR{name}=="max11645", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S%p /run/devmap/sensors/PEM_ADC_MAX11645"
SUBSYSTEM=="hwmon", ATTR{name}=="max6658", DEVPATH=="*/0000:07:00.0/scd-smbus.1/i2c-*/*-004c/*", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/PEM_TEMP_MAX6658"
SUBSYSTEM=="hwmon", ATTR{name}=="aslg4f4527", RUN+="/bin/mkdir -p /run/devmap/sensors", RUN+="/bin/ln -sf %S/class/hwmon/hwmon%n /run/devmap/sensors/FS_FAN_SLG4F4527"
SUBSYSTEM=="gpio", DEVPATH=="*/0000:07:00.0/scd-smbus.1/i2c-*/*-0074/gpiochip*", RUN+="/bin/mkdir -p /run/devmap/gpiochips", RUN+="/bin/ln -sf /dev/gpiochip%n /run/devmap/gpiochips/RACKMON_PLS"
SUBSYSTEM=="pci", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/fpgas/ -xtype l -delete'", RUN+="/bin/sh -c 'find /run/devmap/cplds/ -xtype l -delete'"
SUBSYSTEM=="i2c", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/i2c-busses/ -xtype l -delete'", RUN+="/bin/sh -c 'find /run/devmap/cplds/ -xtype l -delete'", RUN+="/bin/sh -c 'find /run/devmap/eeproms/ -xtype l -delete'"
SUBSYSTEM=="hwmon", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/sensors/ -xtype l -delete'"
SUBSYSTEM=="iio", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/sensors/ -xtype l -delete'"
SUBSYSTEM=="gpio", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/gpiochips/ -xtype l -delete'"
SUBSYSTEM=="watchdog", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/watchdogs/ -xtype l -delete'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 3 bus 0", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0060 || echo tehama_cpld 0x60 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 2 bus 0", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0023 || echo blackhawk_cpld 0x23 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 0", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-004d || echo max6581 0x4d > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 0 bus 0", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-004c || echo max6658 0x4c > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 0 bus 1", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-004e || echo ucd90160 0x4e > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 0 bus 2", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0021 || echo pmbus 0x21 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0027 || echo pmbus 0x27 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 2 bus 2", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0011 || echo ucd90320 0x11 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:ff:0b.3 SMBus master 3 bus 2", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0048 || echo lm73 0x48 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 3", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0036 || echo max11645 0x36 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-003a || echo amax5970 0x3a > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-004c || echo max6658 0x4c > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0050 || echo 24c512 0x50 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:07:00.0 SMBus master 1 bus 4", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0008 || echo aslg4f4527 0x08 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0050 || echo 24c512 0x50 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0052 || echo 24c512 0x52 > /sys/bus/i2c/devices/i2c-%n/new_device'", RUN+="/bin/sh -c 'test -d /sys/bus/i2c/devices/i2c-%n/%n-0074 || echo pca9539 0x74 > /sys/bus/i2c/devices/i2c-%n/new_device'"
SUBSYSTEM=="pci", DRIVER=="linux-kernel-bde", TAG+="systemd", ENV{ID_MODEL}="linux-kernel-bde", ENV{SYSTEMD_WANTS}="wedge_agent.service"
