SUBSYSTEM=="pci", KERNEL=="0000:02:00.0", ATTR{device}=="0x0001", ATTR{subsystem_vendor}=="0x3475", ATTR{subsystem_device}=="0x0001", RUN{builtin}+="kmod load scd", RUN+="/bin/sh -c 'echo \"3475 0001\" > /sys/bus/pci/drivers/scd/new_id'"
SUBSYSTEM=="pci", KERNEL=="0000:02:00.0", ATTR{vendor}=="0x3475", RUN+="/bin/mkdir -p /run/devmap/fpgas", RUN+="/bin/ln -sf %S%p /run/devmap/fpgas/SCD_FPGA"
SUBSYSTEM=="pci", ACTION=="remove", RUN+="/bin/sh -c 'find /run/devmap/fpgas/ -xtype l -delete'", RUN+="/bin/sh -c 'find /run/devmap/cplds/ -xtype l -delete'"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 0 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS0_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 0 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS0_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 0 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS0_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 0 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS0_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 0 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS0_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 0 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS0_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 0 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS0_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 0 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS0_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 1 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 1 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 1 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 1 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 1 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 1 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 1 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 1 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS1_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 2 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS2_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 2 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS2_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 2 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS2_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 2 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS2_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 2 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS2_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 2 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS2_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 2 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS2_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 2 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS2_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 3 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS3_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 3 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS3_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 3 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS3_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 3 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS3_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 3 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS3_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 3 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS3_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 3 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS3_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 3 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS3_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 4 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS4_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 4 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS4_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 4 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS4_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 4 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS4_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 4 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS4_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 4 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS4_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 4 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS4_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 4 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS4_CH7"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 5 bus 0", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS5_CH0"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 5 bus 1", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS5_CH1"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 5 bus 2", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS5_CH2"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 5 bus 3", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS5_CH3"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 5 bus 4", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS5_CH4"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 5 bus 5", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS5_CH5"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 5 bus 6", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS5_CH6"
SUBSYSTEM=="i2c", ATTR{name}=="SCD 0000:02:00.0 SMBus master 5 bus 7", RUN+="/bin/mkdir -p /run/devmap/i2c-busses", RUN+="/bin/ln -sf /dev/i2c-%n /run/devmap/i2c-busses/SCD_SMBUS5_CH7"
